.nd-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overscroll-behavior: none;
    /* Important as hammerjs will break on mobile without this */
    touch-action: none;
}

.nd-limit {
    position: absolute;
    z-index: 10;
}

.nd-trunk {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.nd-branch {
    position: absolute;
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    z-index: 1;
}

.nd-branch-focal {
    z-index: 10;
}

.nd-canvas-ltr.nd-canvas-normal .nd-branch, .nd-canvas-rtl.nd-canvas-normal .nd-branch {
    top: 0;
    height: 100%;
    flex-direction: column;
}

.nd-canvas-ltr.nd-canvas-reverse .nd-branch, .nd-canvas-rtl.nd-canvas-reverse .nd-branch {
    top: 0;
    height: 100%;
    flex-direction: column-reverse;
}

.nd-canvas-ttb.nd-canvas-normal .nd-branch, .nd-canvas-btt.nd-canvas-normal .nd-branch {
    left: 0;
    width: 100%;
    flex-direction: row;
}

.nd-canvas-ttb.nd-canvas-reverse .nd-branch, .nd-canvas-btt.nd-canvas-reverse .nd-branch {
    left: 0;
    width: 100%;
    flex-direction: row-reverse;
}

.nd-branch-content-box {
    position: absolute !important; /* Must be absolute to prevent interfering with nd-slider*/
}

.nd-branch-slider {
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.nd-canvas-ltr.nd-canvas-normal .nd-branch-slider, .nd-canvas-rtl.nd-canvas-normal .nd-branch-slider {
    flex-direction: column;
}

.nd-canvas-ltr.nd-canvas-reverse .nd-branch-slider, .nd-canvas-rtl.nd-canvas-reverse .nd-branch-slider {
    flex-direction: column-reverse;
}

.nd-canvas-ttb.nd-canvas-normal .nd-branch-slider, .nd-canvas-btt.nd-canvas-normal .nd-branch-slider {
    flex-direction: row;
}

.nd-canvas-ttb.nd-canvas-reverse .nd-branch-slider, .nd-canvas-btt.nd-canvas-reverse .nd-branch-slider {
    flex-direction: row-reverse;
}

.nd-branch-backdrop {
    position: absolute;
}

.nd-canvas-ltr .nd-branch-backdrop {
    left: 0;
    top: 0;
    height: 100%;
}

.nd-canvas-rtl .nd-branch-backdrop {
    right: 0;
    top: 0;
    height: 100%;
}

.nd-canvas-ttb .nd-branch-backdrop {
    left: 0;
    top: 0;
    width: 100%;
}

.nd-canvas-btt .nd-branch-backdrop {
    left: 0;
    bottom: 0;
    width: 100%;
}

.nd-canvas-ltr.nd-canvas-normal .nd-branch, .nd-canvas-rtl.nd-canvas-normal .nd-branch {
    flex-direction: column;
}

.nd-canvas-ltr.nd-canvas-reverse .nd-branch, .nd-canvas-rtl.nd-canvas-reverse .nd-branch {
    flex-direction: column-reverse;
}

.nd-canvas-ttb.nd-canvas-normal .nd-branch, .nd-canvas-btt.nd-canvas-normal .nd-branch {
    flex-direction: row;
}

.nd-canvas-ttb.nd-canvas-reverse .nd-branch, .nd-canvas-btt.nd-canvas-reverse .nd-branch {
    flex-direction: row-reverse;
}

.nd-node {
    box-sizing: border-box !important;
    margin: 0 !important;
    position: relative;
    z-index: 1;
}

.nd-node-active {
    z-index: 10;
}

.nd-inspect-backdrop {
    position: absolute;
    height: 999999px;
    width: 999999px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.nd-content-box {
    overflow: hidden;
    z-index: 10;
    /* Important as hammerjs will break on mobile without this */
    touch-action: none;
}

.nd-canvas-inspect .nd-branch-focal .nd-node-active>.nd-content-box {
    overflow: auto;
    user-select: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    touch-action: auto;
    overscroll-behavior: none;
}

.nd-child-indicator {
    z-index: 1000;
}