/* All timing functions use easeOutCubic from Penner equations */

.nd-canvas {
	width: 800px;
	height: 600px;
	cursor: grab;
	background-color: #a6a6a6;
}

.nd-limit {
	border: solid 0px;
	background-color: #595959;
}

.nd-limit-enter-from, .nd-limit-leave-active {
	opacity: 0;
}

.nd-limit-enter-active, .nd-limit-leave-active {
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nd-limit-left {
	top: 0;
	left: 0;
	height: 100%;
	width: 1em;
}

.nd-limit-right {
	top: 0;
	right: 0;
	height: 100%;
	width: 1em;
}

.nd-limit-top {
	top: 0;
	left: 0;
	height: 1em;
	width: 100%;
}

.nd-limit-bottom {
	bottom: 0;
	left: 0;
	height: 1em;
	width: 100%;
}

.nd-trunk-move {
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier( 0.215, 0.61, 0.355, 1);
}

.nd-branch {
	opacity: 0.7;
	transition-property: opacity;
	transition-timing-function: cubic-bezier( 0.215, 0.61, 0.355, 1);
	transition-duration: 0.5s;
}

.nd-branch-focal {
	opacity: 1;
}

.nd-branch-enter-from, .nd-branch-leave-active {
	opacity: 0;
}

.nd-branch-slider-move {
	transition-property: transform;
	transition-timing-function: cubic-bezier( 0.215, 0.61, 0.355, 1);
	transition-duration: 0.5s;
}

.nd-node {
	padding: .2em;
	display: flex;
    flex-direction: row;
}

.nd-canvas-ltr .nd-node, .nd-canvas-rtl .nd-node {
	flex-direction: column;
}

.nd-inspect-backdrop {
	background-color: rgba(0, 0, 0, 0.4);
	cursor: auto;
}

.nd-content-box {
	position: relative;
	padding: .8em;
	max-height: 600px;
	max-width: 800px;
	box-sizing: border-box;
	background-color: #e6e6e6;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nd-canvas-ltr .nd-content-box {
	padding: .6em 1em .6em .6em; 
}

.nd-canvas-rtl .nd-content-box {
	padding: .6em .6em .6em 1em; 
}

.nd-canvas-ttb .nd-content-box {
	padding: .6em .6em 1em .6em; 
} 

.nd-canvas-btt .nd-content-box {
	padding: 1em .6em .6em .6em; 
}

.nd-node-active>.nd-content-box {
	background-color: #ffffff;
}

.nd-canvas-inspect .nd-branch-focal .nd-node-active>.nd-content-box {
	cursor: auto;
}

.nd-node-leave-active {
	overflow: hidden;
	z-index: -1;
}

.nd-canvas-ltr .nd-node-leave-active, .nd-canvas-rtl .nd-node-leave-active {
	width: 100%;
}

.nd-canvas-btt .nd-node-leave-active, .nd-canvas-ttb .nd-node-leave-active {
	height: 100%;
}

.nd-node-enter-from, .nd-node-leave-active {
	opacity: 0;
}

.nd-node-enter-active, .nd-node-leave-active {
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nd-node-move {
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* This class is specifically used to suppress FLIP animations caused by
Vue's transition-group as we want to handle it ourselves */
.nd-no-transition {
    transition: none !important;
}

.nd-child-indicator {
	position: absolute;
	box-sizing: border-box;
	border-color: #595959;
}

.nd-canvas-ltr .nd-child-indicator {
	height: .8em;
	width: 0em;
	right: .5em;
	border-left-width: 0.2em;
	border-left-style: solid;
	top: 50%;
	transform: translateY(-50%);
}

.nd-canvas-rtl .nd-child-indicator {
	height: .8em;
	width: 0em;
	left: .5em;
	border-right-width: 0.2em;
	border-right-style: solid;
	top: 50%;
	transform: translateY(-50%);
}

.nd-canvas-ttb .nd-child-indicator {
	width: .8em;
	height: 0em;
	bottom: .5em;
	border-top-width: 0.2em;
	border-top-style: solid;
	left: 50%;
	transform: translateX(-50%);
}

.nd-canvas-btt .nd-child-indicator {
	width: .8em;
	height: 0em;
	top: .5em;
	border-bottom-width: 0.2em;
	border-bottom-style: solid;
	left: 50%;
	transform: translateX(-50%);
}

.nd-canvas-ltr .nd-child-indicator-expanded {
	height: 1em;
	width: 0;
	right: .4em;
	border-left-width: 0.3em;
	border-left-style: solid;
	border-top: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	top: 50%;
	transform: translateY(-50%);
}

.nd-canvas-rtl .nd-child-indicator-expanded {
	height: 1em;
	width: 0;
	left: .4em;
	border-right-width: 0.3em;
	border-right-style: solid;
	border-top: 0.5em solid transparent;
	border-bottom: 0.5em solid transparent;
	top: 50%;
	transform: translateY(-50%);
}

.nd-canvas-ttb .nd-child-indicator-expanded {
	width: 1em;
	height: 0em;
	bottom: .4em;
	border-top-width: 0.3em;
	border-top-style: solid;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	left: 50%;
	transform: translateX(-50%);
}

.nd-canvas-btt .nd-child-indicator-expanded {
	width: 1em;
	height: 0em;
	bottom: .4em;
	border-bottom-width: 0.3em;
	border-bottom-style: solid;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	left: 50%;
	transform: translateX(-50%);
}

.nd-child-indicator-enter-from, .nd-child-indicator-leave-active {
	opacity: 0;
}

.nd-child-indicator-enter-active, .nd-child-indicator-leave-active {
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nd-inspect-backdrop {
	height: 600px;
	width: 800px;
}

.nd-inspect-backdrop-enter-from, .nd-inspect-backdrop-leave-active {
	opacity: 0;
}

.nd-inspect-backdrop-enter-active, .nd-inspect-backdrop-leave-active {
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}