body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    overflow: hidden;
}

pre[class*="language-"] {
    overflow: hidden;
}

code[class*="language-"] {
    font-size: .9em;
}

.nd-noode-inspect pre[class*="language-"] {
    overflow: auto;
}

.logo {
    height: 120px;
    display: block;
    margin: auto;
}

.title {
    font-weight: lighter;
    color: #509923;
    margin: auto;
    text-align: center;
}

.version {
    margin: auto;
    text-align: center;
    font-size: 0.9em;
    right: 20px;
    top: 15px;
    padding: 0 10px;
    background-color: #60b52b;
    border-radius: 10px;
    position: absolute;
    color: white;
}

.link-container {
    display: flex;
    justify-content: center;
}

.link {
    display: flex;
    background: #f2f2f2;
    padding: .5em 1em;
    border-radius: 1em;
    margin: 0 .5em;
    align-items: center;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.link-icon {
    margin-right: .5em;
}

.label {
    margin: 0 0.5em;
    background-color: #60b52b;
    color: white;
    padding: .1em .3em;
    border-radius: .5em;
    font-size: .7em;
}

.nd-canvas {
    outline: none;
    background-color: #deab6a;
    width: 100%;
    height: 100%;
}

.nd-noode, .nd-child-indicator {
    background-color: #ffedd9;
}

.nd-noode {
    border-radius: .7em;
}

.nd-noode-active, .nd-child-indicator-active {
    background-color: white;
}

.nd-branch-inner {
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.nd-branch-inner-focal {
    opacity: 1;
}

@media (max-width: 800px) {
    .nd-noode {
        max-width: 80vw;
    }
}

@media (max-height: 800px) {
    .nd-noode {
        max-height: 80vh;
    }
}

@media (min-width: 801px) {
    .nd-noode {
        max-width: 700px;
    }
}

@media (min-height: 801px) {
    .nd-noode {
        max-height: 700px;
    }
}

.landing-noode {
    text-align: center;
    padding: 2em;
    font-size: 18px;
}

.menu-item {
    max-width: 325px;
}

.nd-noode > *:first-child {
    margin-top: .2em;
}

.nd-noode > *:last-child {
    margin-bottom: .2em;
}

.nd-limit {
    background-color: #a67a4b;
    transform: scale(2);
}

.nd-limit-enter, .nd-limit-leave-to {
    transform: scale(1);
}

.nd-limit-enter-active, .nd-limit-leave-active {
    transition-property: opacity, transform;
}

.copyright {
    text-align: center;
    color: #444444;
}