body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    overflow: hidden;
    color: #222222;
}

button, input {
    outline: none;
}

button:disabled {
    opacity: 0.6;
    cursor: initial !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre[class*="language-"] {
    overflow: hidden;
}

code[class*="language-"] {
    font-size: .9em;
}

.nd-noode-inspect pre[class*="language-"] {
    overflow: auto;
}

.logo {
    height: 150px;
    display: block;
    margin: auto;
}

.title {
    font-size: 2.5em;
    font-weight: lighter;
    color: #509923;
    margin: auto;
    text-align: center;
}

.version {
    margin: auto;
    text-align: center;
    font-size: 0.9em;
    right: 20px;
    top: 15px;
    padding: 0 10px;
    background-color: #60b52b;
    border-radius: 10px;
    position: absolute;
    color: white;
}

.link-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link {
    display: flex;
    background: #f2f2f2;
    padding: .5em 1em;
    border-radius: 1em;
    margin: .2em .3em 0 .3em;
    align-items: center;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.link-icon {
    margin-right: .5em;
}

.label {
    margin: 0 0.5em;
    background-color: #60b52b;
    color: white;
    padding: .1em .3em;
    border-radius: .5em;
    font-size: .7em;
}

.nd-canvas {
    outline: none;
    background-color: #deab6a;
    width: 100%;
    height: 100%;
}

.nd-noode, .nd-child-indicator {
    background-color: #ffedd9;
}

.nd-noode {
    border-radius: .7em;
    position: relative;
}

.nd-noode-active, .nd-child-indicator-active {
    background-color: white;
}

.nd-branch-inner {
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.nd-branch-inner-focal {
    opacity: 1;
}

.landing-noode {
    text-align: center;
    padding: 2em;
    font-size: 18px;
}

.nd-noode > *:first-child {
    margin-top: .2em;
}

.nd-noode > *:last-child {
    margin-bottom: .2em;
}

.nd-limit {
    background-color: #a67a4b;
    transform: scale(2);
}

.nd-limit-enter, .nd-limit-leave-to {
    transform: scale(1);
}

.nd-limit-enter-active, .nd-limit-leave-active {
    transition-property: opacity, transform;
}

.copyright {
    text-align: center;
    color: #444444;
}

@media (max-width: 800px) {
    .nd-noode {
        max-width: 80vw;
    }

    .logo {
        height: 90px;
    }

    .title {
        font-size: 1.8em;
    }
}

@media (max-height: 800px) {
    .nd-noode {
        max-height: 80vh;
    }
}

@media (min-width: 801px) {
    .nd-noode {
        max-width: 700px;
    }

    .menu-item {
        max-width: 280px;
    }
}

@media (min-height: 801px) {
    .nd-noode {
        max-height: 700px;
    }
}

/** Extra UI elements **/

#noodeCount {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    pointer-events: none;
    padding-bottom: .2em;
    font-size: small;
}

#searchButton {
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 10000;
    height: 2.5em;
    width: 2.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: .5em;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

#searchButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#searchBar {
    position: absolute;
    bottom: 1em;
    right: 3.7em;
    background-color: rgba(0, 0, 0, 0.5);
    height: 2.5em;
    z-index: 10000;
    border-radius: .5em;
    padding-left: .5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 300px;
}

#searchInput {
    height: 1.5em;
    padding: 0 .3em;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
    font-size: initial;
    border: none;
    max-width: 130px;
    background-color: white;
    font-family: inherit;
}

#searchIndicator {
    min-width: 35px;
    padding: 0 .3em;
    height: 1.5em;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
    background-color: white;
    box-sizing: border-box;
}

#searchCount {
    font-size: small;
}

#searchPrev, #searchNext {
    font-size: initial;
    height: 100%;
    width: 2.5em;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

#searchIcon {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchIcon > img {
    height: 80%;
}

.searchFocus {
    background-color: aquamarine;
}

.hidden {
    display: none !important;
}

