body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    overflow: hidden;
}

pre[class*="language-"] {
    overflow: hidden;
}

code[class*="language-"] {
    font-size: .9em;
}

.nd-noode-inspect pre[class*="language-"] {
    overflow: auto;
}

.logo {
    width: 100px;
    display: block;
    margin: auto;
}

.title {
    margin: auto;
    text-align: center;
}

.version {
    margin: auto;
    text-align: center;
    font-size: 0.9em;
    right: 20px;
    top: 15px;
    padding: 0 10px;
    background-color: #4aaf36;
    border-radius: 10px;
    position: absolute;
    color: white;
}

.link-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.link {
    display: flex;
    background: #f2f2f2;
    padding: .5em 1em;
    border-radius: 1em;
    margin: 0 .5em;
    align-items: center;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.link-icon {
    margin-right: .5em;
}

.label {
    margin: 0 0.5em;
    background-color: #4aaf36;
    color: white;
    padding: .1em .3em;
    border-radius: .5em;
    font-size: .7em;
}

.nd-canvas {
    outline: none;
    background-color: #e0ae69;
    width: 100%;
    height: 100%;
}

.nd-noode, .nd-child-indicator {
    background-color: #f6dfbc;
}

.nd-noode {
    border-radius: .7em;
}

.nd-noode-active, .nd-child-indicator-active {
    background-color: #fcf4e9;
}

.nd-child-indicator-active:after {
    border-left-color: #fcf4e9;
}

.nd-branch-focal .nd-noode, .nd-branch-focal .nd-child-indicator {
    background-color: #f9ead4;
}

.nd-branch-focal .nd-noode-active, .nd-branch-focal .nd-child-indicator-active {
    background-color: white;
}

.nd-branch-focal .nd-child-indicator-active:after {
    border-left-color: white;
}

@media (max-width: 800px) {
    .nd-noode {
        max-width: 85vw;
    }
}

@media (max-height: 800px) {
    .nd-noode {
        max-height: 85vh;
    }
}

@media (min-width: 801px) {
    .nd-noode {
        max-width: 720px;
    }
}

@media (min-height: 801px) {
    .nd-noode {
        max-height: 720px;
    }
}

.menu-item {
    max-width: 325px;
}

.nd-noode > *:first-child {
    margin-top: .2em;
}

.nd-noode > *:last-child {
    margin-bottom: .2em;
}

.nd-limit {
    background-color: #8C6430;
    transform: scale(2);
}

.nd-limit-enter, .nd-limit-leave-to {
    transform: scale(1);
}

.nd-limit-enter-active, .nd-limit-leave-active {
    transition-property: opacity, transform;
}